body {
	background: #FFF;
	font: 12px/14px Arial, Helvetica, sans-serif; 
	color: #6a6663;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	font-smooth: always;
	overflow-x:hidden;
	overflow-y:scroll;
}

a {
    color:#339FD6;
    text-decoration:none; 
}

p {
    font:300 14px/30px 'Open Sans',Helvetica,Arial,sans-serif;
    color: #6A6663;
    padding-bottom: 6px;
}

h1, h2 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif; 
}

strong { font-weight:bold; }

/* VAR */

.left { float: left; }
.right { float: right; }

.border-radius {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

/* STYLES
-----------------------------------------------------------------*/

.wrap {
	width: 100%;
	overflow: hidden;
}

.content {
	width: 1020px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}


/* Header --------------------------- */

header {
	width: 100%;
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
	position: relative;
}

.avatar {
	margin-top:70px;
	text-align:center;
}
	
	.avatar > a {
		display: block;
	}
	
	.avatar > a > img  {
		width:120px;
	}
	
.about {
	margin:20px 0 35px;
	text-align:center;
}

	.about > h1 {
		font: 300 28px/56px 'Open Sans', Helvetica, Arial, sans-serif;
		color:#4B4F53;
	}

/* Footer --------------------------- */

footer {
	width: 100%;
	padding: 30px 0;
	overflow: hidden;
	color: #8c8b87;
	font-weight: 300;
}


/* Portfolio grid ------------------- */

#portfolio {

}