/* modals */
.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 11000;
	width: 750px;
	margin: -250px 0 0 -375px;
	background-color: white;
	-webkit-box-shadow:0 0px 10px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0px 10px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0,0,0,0.2);
	box-shadow:0 0px 10px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0,0,0,0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
	overflow: hidden;
	}

.modal.fade {
	-webkit-transition: opacity .3s linear, top .3s ease-out;
	-moz-transition: opacity .3s linear, top .3s ease-out;
	-ms-transition: opacity .3s linear, top .3s ease-out;
	-o-transition: opacity .3s linear, top .3s ease-out;
	transition: opacity .3s linear, top .3s ease-out;
}

.modal.fade.in {
	top: 50%;
}

.fade.in {
	opacity: 1;
}

.modal-backdrop.fade {
	opacity: 0;
}

.fade {
	-webkit-transition: opacity 0.15s linear;
	-moz-transition: opacity 0.15s linear;
	-ms-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
	opacity: 0;
}

.modal-backdrop {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
}

.modal-backdrop, .modal-backdrop.fade.in {
	filter: alpha(opacity=50);
	-khtml-opacity: 0.5;
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.modal .header {
	background-color: #EFF2F5;
	border-bottom: 2px solid #E6E8EA;
	padding: 27px 30px 25px;
	font-size: 19px;
	letter-spacing: -1px;
}

.modal .body {
	padding: 30px;
}
	
/* tooltips */
.tooltip {
	position: absolute;
	z-index: 1030;
	display: block;
	font-size: 15px;
	line-height: 1.4;
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: visible;
}

.tooltip.in {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.tooltip.top {
	padding: 3px 0;
	margin-top: -3px;
}

.tooltip.right {
	padding: 0 3px;
	margin-left: 3px;
}

.tooltip.bottom {
	padding: 3px 0;
	margin-top: 3px;
}

.tooltip.left {
	padding: 0 3px;
	margin-left: -5px;
}

.tooltip-inner {
	max-width: 200px;
	padding: 8px 12px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #000000;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
            border-radius: 3px;
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -3px;
	border-top-color: #000000;
	border-width: 3px 3px 0;
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -3px;
	border-right-color: #000000;
	border-width: 3px 3px 3px 0;
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -3px;
	border-left-color: #000000;
	border-width: 3px 0 3px 3px;
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -3px;
	border-bottom-color: #000000;
	border-width: 0 3px 3px;
}