body { font-family:'proxima-nova', Helvetica, Arial, sans-serif; }
a { color:#717883; }

.clearfix { clear:both; overflow:hidden; }

/* header */
header { padding:10%; position:relative; clear:both; overflow:hidden; }
header.home { background-color:#2B3844; height:416px; }
header.gamesdaily { background-color:#212C30; }
header.blog { background-color:#fff; padding-bottom:0; }

header h1.logo { position:absolute; left:10%; top:88px; margin-top:0; }

header .menu { position:absolute; right:10%; top:8em; }
header .menu > li { display:inline-block; margin-right:50px; }
header .menu > li > a { font-size:150%; color:#C5CCD7; text-transform:uppercase; font-weight:100; }
header .menu > li.active > a { color:#fff; border-bottom:1px solid #E94A04; }

header .details { width:40%; float:left; text-align:left; margin-top:94px; }
header .details p { font-size:350%; font-weight:100; line-height:1.6; color:#fff; }
header .details .links { margin:5% 0 0; list-style:none; }
header .details .links > li { font-size:22px; margin-right:50px; display:inline-block; }
header .details .links > li > a { font-weight:100; }
header .details .links > li.twitter > a { background:url('../img/icons/twitter.png') no-repeat left center; padding-left:41px; }
header .details .links > li.www > a { background:url('../img/icons/www.png') no-repeat left center; padding-left:38px; }

header .details .logo { margin:0 0 5%; }
header .details .logo > img { margin-left:2px; }

header .preview { position:absolute; width:60%; right:-8%; top:30%; }
header .preview > img { box-shadow:0 1px 8px rgba(0,0,0,0.28);border-radius:7px; }

header.home .details { width:70%; margin:60px auto 0; float:none; text-align:center; }
header.home .details p { color:#fff; font-size:69px; font-family:'proxima-nova-alt'; font-weight:500; margin:0; line-height:1.4em; letter-spacing:-1.8px; }
header.home .details p.intro { font-size:30px; font-weight:300; letter-spacing:normal; margin-top:15px; line-height:1.6em; color:rgba(255,255,255,0.7); }
header.home .menu > li > a { color:rgba(255,255,255,0.7); }
header.home .menu > li.active > a { color:#fff; border-bottom:1px solid #25AAE1; }

header.blog .menu > li > a { color:#666; }
header.blog .menu > li.active > a { color:#111; border-bottom:1px solid #25AAE1; }

/* statistics bar */
#statistics  { border-bottom:1px solid #eee; width:80%; padding:3% 10%; list-style:none; color:#717883; clear:both; overflow:hidden; }
#statistics .stats { float:left; margin-top:-2px; }
#statistics .stats > li { display:inline-block; font-size:16px; text-transform:uppercase; margin-right:60px; font-weight:600; color:#5E6979; }
#statistics .stats > li span { display:block; font-size:32px; font-weight:100; text-transform:none; color:#717883; }

#statistics .press { float:right; }
#statistics .press .button { display:block; background:#EA4B05; border-radius:5px; color:#fff; padding:12px 30px; font-size:28px; font-weight:500; text-shadow:0 -1px rgba(0, 0, 0, 0.05); }

/* featured on */
#featured { padding:5% 10%; }

/* about us */
#about { padding:5% 10%; }
#about .info { width:40%; float:left; margin-right:10%; }
#about .info p { font-size:18px; font-family:'proxima-nova-alt'; color:#717883; line-height:1.6; }
#about .team { width:40%; float:right; margin-left:10%; }

/* blog posts */
#posts { padding:0% 10% 5%; font-family:'proxima-nova-alt', sans-serif; }
#posts article { width:1280px; margin:0 auto; border-bottom:1px solid #eee; padding:7% 0; }
#posts article h2 { font-size:450%; font-weight:300; max-width:85%; margin:0 auto; color:#404956; }
#posts article p { max-width:85%; margin:0 auto; font-size:200%; color:#707880; line-height:1.8em; font-weight:100; margin-top:20px; }
#posts article p.intro { }
#posts article img  { margin:3% 0; }
#posts article .meta { max-width:85%; margin:0 auto; margin-top:5%; list-style:none; }
#posts article .meta > li { float:right; }
#posts article .meta > li > a { font-size:150%; }
#posts article .meta > li.published { float:left; text-transform:uppercase; color:#666; font-size:18px; font-weight:100; margin-top:4px; }

/* footer */
footer { padding:6em 10%; font-family:'proxima-nova-alt', Helvetica, Arial, sans-serif; font-size:16px; color:#9CA3AE; }
footer .menu { margin:3em 0 0; padding:3em 0 0; border-top:1px solid #eee; text-align:center; }
footer .menu > li { display:inline-block; margin-right:15px; }
footer .menu > li > a { font-weight:300; }