<footer>
    <div class="centered">
        <nav id="sitemap">
            <ul class="left">
                <li class="link"><a href="#about">What we do</a></li>
                <li class="link"><a href="#clients">Our clients</a></li>
                <li class="link"><a href="#team">The team</a></li>
            </ul>
            <div class="logo"></div>
            <ul class="right">
                <li class="link"><a href="#contact">Contact us</a></li>
                <li><a href="http://cogpowered.com/blog">The Blog</a></li>
                <li><a href="http://bigblast.co" target="_blank">Our projects</a></li>
            </ul>
        </nav>
    </div>
</footer>