body {
	background: #FFF;
	font: 12px/14px Helvetica, Arial, sans-serif; 
	color: #6a6663;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	font-smooth: always;
}

a {
    color:#339FD6;
    text-decoration:none; 
}

p {
    font:500 15px/30px 'proxima-nova', Helvetica, Arial, sans-serif;
    color: #7F95A0;
    padding: 0;
	margin: 0;
}

h1, h2 {
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif; 
}

strong { font-weight:bold; }

/* VAR */

.left { float: left !important; }
.right { float: right !important; }

.border-radius {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

/* STYLES
-----------------------------------------------------------------*/

.wrap {
	width: 100%;
	overflow: hidden;
}

.content {
	width: 1020px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.button {
	display:block;
	background:#7F95A0;
	color:#fff;
	text-shadow:0 -1px rgba(0,0,0,0.2);
	font-family:'proxima-nova',sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:18px 22px;
}

.button.blue {
	background:#25AAE1;
}

.button.sharp {
	-webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.15) inset;
	-moz-box-shadow: 0 1px rgba(255, 255, 255, 0.15) inset;
	box-shadow: 0 1px rgba(255, 255, 255, 0.15) inset;
}


/* Basics --------------------------- */

header {
	width: 100%;
	height: 114px;
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
	position: relative;
}

	header .logo {
		float:left;
		margin-top:32px;
	}

footer {
	width: 100%;
	padding: 0;
	overflow: hidden;
}


/* MAIN STYLES
----------------------------------------------------------- */

#topnav {
	float:right;
}

	#topnav ul {
		display:block;
	}
	
	#topnav ul li {
		display:inline-block;
		margin-left:30px;
	}
	
	#topnav ul li a {
		font-family:'proxima-nova',sans-serif;
		font-size:15px;
		font-weight:600;
		color:#213A49;
		display:block;
		padding:48px 0;
	}
	
	#topnav ul li:hover a {
		color:#25AAE1;
	}
	
	#topnav ul li.active a {
		color:#25AAE1;
	}
	
	#topnav ul li.login a {
		border:1px solid #e5e5e5;
		padding:13px 18px 14px;
	}

/* footer */
#footer {
	background: #213A49;
	color: #7F95A0;
}

	#footer h2 {
		color:#92C7DE;
		font-size:18px;
		font-weight:500;
		margin:0 0 15px;
		padding:0;
	}

	#footer .row {
		width: auto;
		padding:25px 0;
		clear:both;
		overflow:hidden;
	}
	
	#footer .row.sitemap {
		padding:60px 0;
	}
	
	#footer .row.copyright {
		background:#1F3543;
	}
	
	#footer .column {
		width: auto;
		margin:0 100px 0 0;
		float:left;
	}
	
	#footer .column li {
		font-size:14px;
	}
	
	#footer .column li a {
		color:#7F95A0;
		display:block;
		font-family:'proxima-nova', sans-serif;
		font-weight:400;
		line-height:28px;
	}
	
	#footer .copyright {
		font-size:14px;
	}

	
/* PAGE STYLES
----------------------------------------------------------- */

/* slider */
#slider {
	height:600px;
	background:#213A49;
}

	#slider .slider {
		position:relative; 
		list-style:none;
		padding:0;
		margin:0;
		overflow:hidden; 
		display:none; 
	}
	
	#slider .details {
		width:70%;
		margin:120px 0;
	}
	
	#slider .details h1 { 
		font-size:60px;
		font-weight:600;
		line-height:42px;
		color:#fff;
		margin-bottom:35px;
	}
	
	#slider .details p {
		font-size:24px;
		font-weight:300;
		line-height:42px;
		text-shadow:0 -1px rgba(0,0,0,0.2);
	}
	
	#slider .details .buttons { 
		margin:50px 0 20px; 
	}
	
	#slider .details .buttons a {
		margin-right:20px;
		text-transform:uppercase;
	}
	
/* Basic jQuery Slider essential styles */
li.bjqs-slide{position:absolute; display:none;}
ol.bjqs-markers{ position:absolute; bottom:50px; list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{ display:inline; margin:0 5px; }
ol.bjqs-markers li a{ display:inline-block; text-indent:-9999px; background:url('../img/icons/markers.png') no-repeat center 0; height:14px; width:14px; }
ol.bjqs-markers li.active-marker a { background-position:0 -14px; }
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
	

/* features */
#features {
	padding:80px 0;
	clear:both;
	overflow:hidden;
}

	#features .preview {
		margin-bottom:50px;
		width:1020px;
	}
	
	#features .features {
		margin-top:30px;
	}
	
	#features .features li {
		float:left;
		width:302px;
		margin-bottom:60px;
	}
	
	#features .features li.middle {
		margin:0 57px;
	}
	
	#features .features li img {
		float:left;
		margin-right:20px;
		margin-bottom:20px;
	}
	
	#features .features li h3 {
		font-size:18px;
		font-family:'proxima-nova',sans-serif;
		font-weight:400;
		color:#335162;
		margin-bottom:10px;
	}
	
	#features .features li p {
		color:#8E959C;
	}


/* testimonials */
#testimonials {
	padding:95px 0 100px;
	clear:both; 
	overflow:hidden;
	border-top:1px solid #eee;
}

	#testimonials h1 {
		font-size:30px;
		font-family:'proxima-nova', sans-serif;
		line-height:30px;
		margin-bottom:60px;
		text-align:center;
		color:#213A49;
		font-weight:500;
	}

	#testimonials .testimonial {
		width:286px;
		float:left;
		text-align:center;
	}
	
	#testimonials .testimonial.middle {
		border-left:1px solid #eee;
		border-right:1px solid #eee;
		margin:0 40px;
		padding:0 40px;
	}
	
	#testimonials .testimonial .meta {
		padding:15px 0 0;
		font-size:13px;
		line-height:22px;
		font-family:'proxima-nova',sans-serif;
		color:#999;
	}
	
	#testimonials .testimonial .avatar {
		margin:10px 0 5px;
	}